nav {
  border-right: solid 1px transparent;
  width: 50px;
  height: 700px;
  float: left;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
  tex
}
ul {
  list-style-type: none;
}
img {
  width: 200px;
}
article {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}