nav {
  border-right: solid 1px transparent;
  width: 200px;
  height: 700px;
  float: left;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
  tex
}
ul {
  list-style-type: none;
}
li {
  border-top: 20px;
  border-bottom: 20px;
}
img {
  width: 200px;
  filter: brightness(1.2)
  outline: 1px solid;
}
article {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}