head {
  border-right: solid 1px grey;
  border-width: 200;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  tex
}
ul {
  list-style-type: none;
}
img {
  width: 500;
  height: auto;
}